:root {
  --primary-color: #0366d6;
  --secondary-color: #24292e;
  --accent-color: #17b978;
  --text-color: #24292e;
  --background-color: #f8f9fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2 {
  margin-bottom: 1rem;
}

.container {
  margin-top: 2rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #035fd6;
  border-color: #035fd6;
}

.navbar {
  background-color: var(--secondary-color);
  color: white;
}

.nav-link {
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.btn-outline-secondary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-accent {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-accent:hover {
  background-color: #149e6e;
  border-color: #149e6e;
}

.profile-image-transparent {
  position: relative;

  z-index: -1;
}
